<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>

<body>
    <div class="loginbox">
        <img src="image/avatar.png" width="50px" class="avatar">
        <h1>Login Here</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" value="Login">


            <a href="#">Forget your password or username</a><br>
            <a href="a">Register an account</a>
        </form>
    </div>
</body>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fnghile-finalwebsite.github.io%2Flogin.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
    <img style="float: right; border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
    </a>


    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fnghile-finalwebsite.github.io%2Flogin.html">
    <img style="float:right; border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml11"
        alt="Valid XHTML 1.1" />

    </a>

</html>
